* {
    box-sizing: border-box;
}

html,
body {
    height: auto;
    min-height: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
    font-family: "Inter", system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
    font-weight: 400;
    min-height: 400vh;
    background-image: url("assets/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -5.2vh;
}


/* Naam Font */
@font-face {
    font-family: "Metropolitan";
    src:
        url("assets/fonts/Metropolitan-Regular.woff2") format("woff2"),
        url("assets/fonts/Metropolitan-Regular.woff") format("woff");
    font-style: normal;
    font-display: swap;
}


/* Achtergrondvideo */
.background {
    position: absolute;
    inset: 0;
    z-index: -1;
    overflow: hidden;
}

.background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Front-page */
.front-page {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
}

.hero {
    position: relative;
}

.name {
    position: absolute;
    right: 22vw;
    top: 50%;
    transform: translateY(-50%);
    font-family: "Metropolitan", serif;
    font-size: 1.8rem;
    letter-spacing: 0.1em;
    font-style: normal;
    color: white;
    user-select: none;
}


/* Navigatiebalk */
.bottom {
    padding: 24px 4vw;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    transform: translateY(-20px);
}

.badge img {
    width: clamp(64px, 8vw, 96px);
    height: auto;
    display: block;
    transform: translateY(-10px);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: clamp(480px, 20vw, 960px);
    text-shadow:
        0 0px 4px rgba(0, 0, 0, 0.9),
        0 0px 16px rgba(0, 0, 0, 0.75),
        0 0px 32px rgba(0, 0, 0, 0.6);
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.15em;
    color: white;
    font-weight: 500;
}

p {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    letter-spacing: 0.15em;
    color: white;
    font-weight: 500;
}

.right {
    justify-self: end;
}

.contact {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.15em;
    text-decoration: none;
    color: white;
    font-weight: 500;
}


/* About Me */
.about {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}


.about-bg {
    position: absolute;
    inset: 0;
    z-index: 0;
}

.about-bg-text {
    position: absolute;
    inset: 0;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.about-bg-text span {
    font-family: "Metropolitan", serif;
    font-size: clamp(96px, 14vw, 300px);
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: white;
    opacity: 0.025;
    filter: blur(7px);
    mix-blend-mode: soft-light;
    white-space: nowrap;
    margin-right: -80px;
}

.about-content {
    position: relative;
    z-index: 1;
    max-width: 900px;
    padding: 0 24px;
    text-align: center;
    color: white;
}

.about-content p {
    margin-bottom: 24px;
}


/* Projects */
.projects {
    position: relative;
    min-height: 100vh;
    padding: 120px 6vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}


.projects-track {
    display: flex;
    gap: clamp(16px, 2.5vw, 40px);
    position: relative;
    z-index: 1;
}

.project-card {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    width: clamp(200px, 15vw, 270px);
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: white;
}

.project-card-fix {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    width: clamp(200px, 15vw, 270px);
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: white;
}

.project-card-fix img {
    width: 100%;
    object-fit: cover;
    display: flex;
}

.project-card img {
    width: 100%;
    object-fit: cover;
    display: flex;
}

.project-meta {
    font-size: 0.7em;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    white-space: nowrap;
}

.projects-bg-text {
    position: absolute;
    inset: 0;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.projects-bg-text span {
    font-family: "Metropolitan", serif;
    font-size: clamp(96px, 14vw, 300px);
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: white;
    opacity: 0.025;
    filter: blur(7px);
    mix-blend-mode: soft-light;
    white-space: nowrap;
    margin-right: -80px;
}